html,body {
    margin: 0;
    padding: 0;
}

body{
    background-image: url("images/jk_trial_01.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #000;
}

#countdown-wrapper {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: 52px;
    color: #fff;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

#countdown {
    margin-left: 5.5%;
    margin-top: 2%;
}
